.my-wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #4B53D0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 86px);
}
.my-container-register {
    width: 60%;
    margin: 0 auto;
}
.img-logo-register img {
    height: 150px;
    width: 100%;
    object-fit: contain;
}
.color-bnb {
    color: #5959B8;
    font-weight: 600;
}
.my-btn {
    width: 100%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4E73DF;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-radius: 30px;
}
.my-btn:hover {
    transition: 0.6s;
    color: black;
    background-color: #DD25AB;
}
.my-wrap input {
    width: 100%;
    border-radius: 30px;
    padding: 12px 10px;
}
.my-wrap .card {
    border-radius: 40px;
    box-shadow: 0px 14px 30px 0px #000;
}
@media (max-width: 991.98px) {
    .my-wrap {
        height: calc(100vh - 86px);
    }

    .img-logo-register img {
        height: 150px;
        width: 100%;
        object-fit: contain;
    }
}
@media (max-width: 575.98px) {
    .my-wrap {
        height: calc(100vh - 86px);
    }
    .img-logo-register img {
        height: 100px;
        width: 100%;
        object-fit: contain;
    }
    html,
    body {
        overflow-x: hidden;
    }
    .my-container-register {
        width: 90%;
    }
}