@use './partials/apartments/index';
@use './partials/apartments/show';
@use './partials/apartments/edit';
@use './partials/apartments/create';
@use './partials/_error404';
@import '~bootstrap/scss/bootstrap';

main{
    background-color: #F6F6F6;
}

